.main {
    display: grid;
    grid-template-areas: 'btn' 'info';
}

.songinfo {
    grid-area: info;
    display: grid;
    grid-template-areas: 'img data';
    padding: 5px;
    background: bisque;
    position: relative;
    bottom: 0;
}

.img {
    grid-area: img;
}

.data {
    grid-area: data;
}

.btnNav .btn {
    background-color: lightskyblue;
    display: inline-block;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid grey;
    width: 25%;
    height: 60px;
}

.btnNav .btn:hover {
    background-color: indianred;
}

img {
    height: 120px;
    width: 110px;
}