<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="main">
    <div class="btnNav" *ngFor="let item of mysongs; let i = index" (click)="onClickMe(i)">
        <button class="btn">{{ item.songname }}</button>
    </div>

    <div *ngIf='goodToShow[i]' class='songinfo'>
        <div class='img'><img src="{{item.picture}}"></div>
        <div class='data'>
            <strong>Song Name:</strong> {{ item.songname }}<br />
            <strong>Artist:</strong> {{ item.artist }}<br />
            <strong>Genre:</strong> {{ item.genre }}<br />
            <strong>Year Released:</strong> {{ item.releaseYear }}<br />
        </div>
    </div>
</div>